* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html, body {
  max-width: auto;
  max-height: auto;
}

body {
  position: relative;
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  min-height: 100vh;
}

span {
  letter-spacing: 5px;
  color: white;
  display: block;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(206, 201, 201, 0.9254901961), -2px -2px 4px #5f5d5d;
}

.loading {
  display: block;
  margin: 0 auto;
  border-radius: 1px;
  /*     border-right: 4px solid  whitesmoke; */
  width: 40ch;
  animation: typing 2s steps(12), blink 0.5s infinite step-end alternate;
  color: rgba(255, 0, 0, 0.527);
}

@font-face {
  font-family: "Marske";
  src: url("/Marske/Marske.otf") format("truetype");
  font-style: italic;
  font-weight: bold;
}
.home {
  display: flex;
  flex-wrap: wrap;
}

.in-flex {
  flex: 1;
  min-width: 250px;
}

.in-flex:first-child {
  fLex: 2;
  padding: 25px;
  background-coLor: #fff;
  margin: 20px;
  margin-bottom: 0px;
}

.in-flex div {
  padding: 25px;
  background-color: #fff;
  margin: 20px;
}

.form-container {
  margin: 10px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 15px 15px 30px rgba(206, 201, 201, 0.9254901961), -15px -15px 30px #5f5d5d;
  border-radius: 10px;
  background-image: url("/src/assets/img/ico/favi.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: azure;
  animation-name: first;
  animation-duration: 400ms;
  animation-timing-function: ease-in;
  transform: scale(0.2);
  animation-fill-mode: forwards;
}

.form-title {
  display: block;
  text-align: center;
  width: 24ch;
  text-transform: uppercase;
  white-space: nowrap;
  /*   border-right: 4px solid ; */
  animation: typing 5s steps(60), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  text-align: left;
}
@keyframes typing {
  from {
    color: white;
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes first {
  0% {
    transform: scale(0.3);
  }
  30% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.menu-screen {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  width: 350px;
  text-transform: uppercase;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 10px 10px 20px rgba(206, 201, 201, 0.9254901961), -10px -10px 20px #5f5d5d;
}

.table-custom {
  width: 50vw;
  height: auto;
  border-radius: 32px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 30px 30px 60px rgba(206, 201, 201, 0.9254901961), -30px -30px 60px #5f5d5d;
  animation-name: second;
  animation-duration: 400ms;
  animation-timing-function: ease;
  transform: scale(0.1);
  animation-fill-mode: forwards;
}

@keyframes second {
  0% {
    transform: scale(0.4);
  }
  30% {
    transform: scale(0.6);
  }
  60% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.filter {
  display: flex;
  justify-content: start;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.filter input {
  width: 280px;
  border-radius: 0.5rem;
  padding: 1px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 5x 5x 10x rgba(206, 201, 201, 0.9254901961), -5x -5x 10x #5f5d5d;
}

body {
  background-image: url("/src/assets/img/ico/favi.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(218, 212, 212);
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.greetings {
  border-right: solid 1px black;
  display: block;
  text-align: center;
  width: 48ch;
  text-transform: uppercase;
  white-space: nowrap;
  /*   border-right: 4px solid ; */
  animation: typing 5s steps(60), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    color: white;
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*# sourceMappingURL=index.css.map */
