@use 'mixin';


.filter {
    display: flex;
    justify-content: start;
        
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 8px;
    
    
    input {
    
        width:280px;
    
        border-radius: 0.5rem;
        padding: 1px;
        text-align: center;
        text-transform: uppercase;

        @include mixin.neo(10px,5x);
    }
}