@use 'mixin';



.form-container{
    margin: 10px;
    padding:80px;
    display: flex;
    flex-direction: column;
    gap: 15px;
   max-width: 500px;
    max-height: 500px;
@include mixin.neo(10px,15px);
    border-radius: 10px;
    background-image:  url('/src/assets/img/ico/favi.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: azure;
    animation-name: first;
    animation-duration: 400ms;
    animation-timing-function:ease-in;
    transform: scale(.2);
    animation-fill-mode: forwards 


   

}
.form-title{
@include mixin.tiping(24ch);
text-align: left;
    
}

@keyframes first {
    0%{
        transform: scale(.3);
        
    }
    30%{
        transform: scale(.5);
        
    }
    60%{
        transform: scale(.8);
        
    }
    100%{
    
        transform: scale(1);


    }

    
}